extends layout

block content
  div(class="container")
    div(class='row')
      div(class='col-md-4')
        div(id="option-one")
        div(class="votes", id="option-one-votes")
        div(class="textprompt", id="text1") Text 001 to (914) 819 5091
      div(class="col-md-4")
        div(id="prompt") Is this a...?
        img(id="outrage-img", src="")
        div(id="verticalline")
      div(class="col-md-4")
        div(id="option-two")
        div(class="votes", id="option-two-votes")
        div(class="textprompt", id="text2") Text 002 to (914) 819 5091
