extends layout

block content
  h1 Pick your Side
  p #FreeToChoose&nbsp;
    span(class='voteOne') 0
  p #BornThisWay&nbsp;
    span(class='voteTwo') 0
  img(src="", alt="", id="outrage-img")
  h2(id="option-one")
  p(id="option-one-votes")
  h2(id="option-two")
  p(id="option-two-votes")
